@model Oluchi.Models.Artista

@{
    ViewData["Title"] = "Delete";
}

<h2>Excluir</h2>

<h4>Tem certeza que deseja excluir?</h4>
<div>
    <h4>Artista</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ValorBase)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ValorBase)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-warning" /> 
        <a asp-action="Index">Voltar para lista</a>
    </form>
</div>
